/* .chroma {
  background-color: unset;
} */

.center {
	text-align:center;
}

#comments-email {
  margin-top: 1em;
}

/* Fixes iOS font sizing anomaly */
code {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}